.profile_container{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title_box,
#blog_box{
    width: 40%;
    
}

input{
    height: 2.5rem;
    padding-left: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}