.main_container {
  display: flex;
  gap: 2rem;
  padding: 0px 50px;
}
.left_container {
  width: 67%;
}
.main_card_info {
  width: 70%;
}

.card {
  display: flex;
  border-bottom: 1px solid rgb(238, 230, 230);
  
  height: 14rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 0rem 0.3rem;
}
.created_user_container {
  display: flex;
  gap: 8px;
  align-items: center;
  overflow: hidden;
}

.created_user_icon {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid gray;
  border-radius: 10%;
}

.created_user_name .user_subtitle{
  font-weight: bold;
}
.created_user_name{
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(64,55,53);
}
.main_content_container {
  padding: 0;
  margin: 0.6rem 0rem;
}
.main_content_container .title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 4px;
  font-family: 'Roboto',sans-serif;
  color: rgb(36,36,36);
}

.paragraph {
  margin-top: 0.7rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(129,124,115);
}

.blog_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
}
.blog_image img {
  max-width: 100%;
  height: auto;
}

.date_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.date{
  color: rgb(129,124,115);
}
.star {
  color: rgb(255, 183, 1);
  margin-right: 0.9rem;
}
.date_container .bookmark{
  font-size: 1.3rem;
  cursor: pointer;
}
.right_container {
  width: 25%;
  border-left: 1px solid rgb(238, 230, 230) ;
}
